# list functions

In [1]:
x= [10,20,30,40]
len(x)

4

In [2]:
max(x)

40

In [3]:
min(x)

10

In [4]:
sum(x)

100

In [5]:
sum(x)/len(x)

25.0

In [6]:
sorted(x)

[10, 20, 30, 40]

# list methods
##append()	Adds an element at the end of the list
##clear()	Removes all the elements from the list
##copy()	Returns a copy of the list
##count()	Returns the number of elements with the specified value
##extend()	Add the elements of a list (or any iterable), to the end of the current list
##index()	Returns the index of the first element with the specified value
##insert()	Adds an element at the specified position
##pop()	Removes the element at the specified position
##remove()	Removes the first item with the specified value
##reverse()	Reverses the order of the list
##sort()	Sorts the list

In [70]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [71]:
veg=['cabbage','tomato','pumpkin']
veg.clear( )
print(veg)

[]

In [23]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [25]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
print(x)

1

In [27]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [28]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

In [29]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [30]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [31]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [32]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

# tuple methods
##count()	Returns the number of times a specified value occurs in a tuple
##index()	Searches the tuple for a specified value and returns the position of where it was found

In [35]:
txt = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = txt.count(5)

print(x)

2

In [37]:
txt = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = txt.index(7)

print(x)

2

# dictionary methods
##clear()	Removes all the elements from the dictionary
##copy()	Returns a copy of the dictionary
##items()	Returns a list containing a tuple for each key value pair
##keys()	Returns a list containing the dictionary's keys
##pop()	Removes the element with the specified key
##update()	Updates the dictionary with the specified key-value pairs
##values()	Returns a list of all the values in the dictionary

In [38]:
d1= {'ap':'guntur','tel':'hyd','tamiln':'chennai','karnataka':'bangalore'}

In [39]:
print(type(d1))

<class 'dict'>

In [41]:
print(d1['tamiln'])

chennai

In [43]:
x=d1.keys()
print(x)

dict_keys(['ap', 'tel', 'tamiln', 'karnataka'])

In [44]:
y=d1.values()
print(y)

dict_values(['guntur', 'hyd', 'chennai', 'bangalore'])

In [45]:
z=d1.items()
print(z)

dict_items([('ap', 'guntur'), ('tel', 'hyd'), ('tamiln', 'chennai'), ('karnataka', 'bangalore')])

In [46]:
a=d1.copy()
print(a)

{'ap': 'guntur', 'tel': 'hyd', 'tamiln': 'chennai', 'karnataka': 'bangalore'}

In [48]:
b={1:10,2:20,3:30}
b.update(d1)
print(b)

{1: 10, 2: 20, 3: 30, 'ap': 'guntur', 'tel': 'hyd', 'tamiln': 'chennai', 'karnataka': 'bangalore'}

In [50]:
d2={2:20,3:30,4:40}
d2.clear()
print(d2)

{}

In [51]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

In [52]:
d2={'unix':2000,'python':3000,'oracle':4000}

In [54]:
d2['linux']=5000 #adding
print(d2)

{'unix': 2000, 'python': 3000, 'oracle': 4000, 'linux': 5000}

In [55]:
d2['python']=2000 #modifying
print(d2)

{'unix': 2000, 'python': 2000, 'oracle': 4000, 'linux': 5000}

In [56]:
del d2['oracle'] #deleting
print(d2)

{'unix': 2000, 'python': 2000, 'linux': 5000}

# sets in methods
##add()	Adds an element to the set
##clear()	Removes all the elements from the set
##copy()	Returns a copy of the set
##difference()	Returns a set containing the difference between two or more sets
##discard()	Remove the specified item
##intersection()	Returns a set, that is the intersection of two other sets
##intersection_update()	Removes the items in this set that are not present in other, specified set(s)
##isdisjoint()	Returns whether two sets have a intersection or not
##issubset()	Returns whether another set contains this set or not
##issuperset()	Returns whether this set contains another set or not
##pop()	Removes an element from the set
##remove()	Removes the specified element
##symmetric_difference()	Returns a set with the symmetric differences of two sets
##union()	Return a set containing the union of sets
##update()	Update the set with the union of this set and others

In [57]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange") 

print(fruits)

{'apple', 'cherry', 'orange', 'banana'}

In [58]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [59]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'cherry', 'banana'}

In [60]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) 

print(z)

{'banana', 'cherry'}

In [61]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana") 

print(fruits)

{'apple', 'cherry'}

In [62]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) 

print(z)

{'apple'}

In [63]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) 

print(z)

True

In [64]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) 

print(z)

True

In [65]:
fruits = {"apple", "banana", "cherry"}

fruits.pop() 

print(fruits)

{'cherry', 'banana'}

In [66]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana") 

print(fruits)

{'apple', 'cherry'}

In [67]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) 

print(z)

{'banana', 'microsoft', 'cherry', 'google'}

In [68]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) 

print(z)

{'google', 'apple', 'microsoft', 'cherry', 'banana'}

In [69]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y) 

print(x)

{'google', 'apple', 'microsoft', 'cherry', 'banana'}

In [72]:
n=int(input("enter a number:"))
if n%2==0:
    print("it is even:")

enter a number:2
it is even:

In [1]:
n=int(input("enter a number:"))
if n>100 and n<999:
    print("it is 3 digit:")
else:
    print("it is not 3 digit:")

enter a number:222
it is 3 digit:

In [2]:
uaname=input("enter a user name:")
pwd=input("enter a pwd:")
if uaname=="teju" and pwd=="teju@531":
    print("welcome:")
else:
    print("invalid:")

enter a user name:teju
enter a pwd:teju@531
welcome:

In [1]:
x=input("enter a string:")
ch=input("enter a character:")
if ch in x:
    print("character is present:")

enter a string:python
enter a character:y
character is present:

In [1]:
m1=int(input("enter a num1:"))
m2=int(input("enter a num2:"))
m3=int(input("enter a num3:"))
m4=int(input("enter a num4:"))
m5=int(input("enter a num5:"))
avg=(m1+m2+m3+m4+m5)/5
if (avg>=90):
    print("grade a")
elif(avg>=80&avg<90):
    print("grade b")
elif(avg>=70&avg<80):
    print("grade c")
elif(avg>=60&avg<70):
    print("grade d")
else:
    print("grade e")

enter a num1:85
enter a num2:95
enter a num3:93
enter a num4:99
enter a num5:100
grade a

In [4]:
n=int(input("enter a number:"))
if 9<n<99:
    print("two digit number:")
elif 99<n<999:
    print("it is a three digit:")
elif 999<n<9999:
    print("it is four digit:")
else:
    print("number is <=9 or>=9999")

enter a number:666
it is a three digit:

In [1]:
year=int(input("enter a year to be check:"))
if year%4==0 and year%100!=0:
    print("it is leap year",year)
elif year%100==0:
    print("it is not a leap year",year)
elif year%400==0:
    print("it is a leap year",year)
else:
    print("it is not a leap year",year)

enter a year to be check:2004
it is leap year 2004

In [3]:
length=int(input("enter a length"))
breadth=int(input("enter a breadth"))
if length==breadth:
    print("it is square")
else:
    print("it is not square")

enter a length5
enter a breadth5
it is square

In [5]:
firstpeople=int(input("enter first age"))
secondpeople=int(input("enter second age"))
thirdpeople=int(input("enter third age"))
if firstpeople>=secondpeople and firstpeople>=thirdpeople:
    print("he is oldest",firstpeople)
elif secondpeople>=firstpeople and secondpeople>=thirdpeople:
    print("he is oldest",secondpeople)
elif thirdpeople>=firstpeople and thirdpeople>=thirdpeople:
    print("he is oldest",thirdpeople)
else:
    print("he is young")

enter first age30
enter second age40
enter third age50
he is oldest 50

In [6]:
sal=int(input("enter a salary"))
yos=int(input("enter a service"))
if yos>5:
    print("bonous is",.05*salary)
else:
    print("no salary")

enter a salary10000
enter a service5
no salary

In [ ]:
n=int(input("enter a number:"))
rev=0
while(n>0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
    print("reverse of number:",rev)

In [1]:
n=int(input("enter a number:"))
temp=n
rev=0
while(n>0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("the number is palindrome:")
else:
    print("the number is not palindrome:")

enter a number:121
the number is palindrome:

In [ ]:
lower=int(input("enter a lower value:"))
upper=int(input("enter a upper value:"))
for i in range(lower,upper+1):
    if(i%2!=0):
        print(i)

In [1]:
n=int(input("enter a number:"))
tot=0
while(n>0):
    rem=n%10
    tot=tot+rem
    n=n//10
    print("the total sum of digits:",tot)

enter a number:123
the total sum of digits: 3
the total sum of digits: 5
the total sum of digits: 6

In [ ]:
n=int(input("enter a number:"))
tot=0
temp=n
while(temp>0):
    digit=temp%10
    tot+=digit**3
    temp=n//10
if n==tot:
    print("it is a armstrong number:",n)
else:
    print("it is not a armstrong number:",n)